.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(255deg 29% 15%);
}

.imagenes > img {
  /* width: 100%; */
  /* max-width: 100%; */
}

.contenidoTexto {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: hsl(255deg 29% 15%);
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 3rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid white;
  background-color: hsl(255deg 29% 15%);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.patternRight {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 768px) {
  .heroContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .contenidoTexto {
    width: 50%;
    padding: 0;
    margin: 0;
  }

  .patternRight {
    display: none;
  }
}
