.heroContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2 auto);
  background-color: hsl(255deg 29% 15%);
}

.img {
  width: 100%;
  height: auto;
}

.contenidoTexto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2 auto);
  gap: 1rem;
  padding: 1rem;
  background-color: hsl(255deg 29% 15%);
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 3rem 0;
}

.btn {
  border: 1px solid white;
  background-color: hsl(255deg 29% 15%);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem auto;
  padding: 0.5rem 1.8rem;
}

.patternRight {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bgPatternLeft {
  position: absolute;
  top: 0;
  left: 0;
}

.iconos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem;
}

.contenidoIconos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.formaIconos {
  width: 20%;
}

.contenedorIconos p {
  text-align: start;
}

@media (min-width: 40rem) {
  .heroContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1f 1f;
    padding: 5rem;
  }
  .contenidoTexto {
    border-top: 1px solid white;
    /* width: 30%; */
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    text-align: left;
  }

  .patternRight {
    top: 0;
    right: 0;
  }

  .bgPatternLeft {
    bottom: 400px;
    left: 0;
  }

  .picture {
    grid-column: 3 / 4;
    grid-row: 1/ -1;
    height: 100px;
  }

  .h1 {
    margin-top: 1.9rem;
    font-size: 2.8rem;
  }

  .btn {
    background-color: white;
    color: hsl(255deg 29% 15%);
  }
}
