.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  border-bottom: 1px solid #999;
  padding: 1rem;
  gap: 3rem;
  margin-left: 4rem;
}

.icon {
  margin-left: 10rem;
}

.ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.ul li {
  position: relative;
  list-style: none;
}

.a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  color: #333;
}

.fondo {
  position: absolute;
  inset: 0;
  background-color: #999;
  border-radius: 10px;
  z-index: -1;
}
