.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2 auto);
  width: 90vw;
  max-width: 1000px;
  margin: 2rem auto;
}

@media (min-width: 40rem) {
  .container {
    grid-template-columns: 1fr 5rem 1fr;
    grid-template-rows: auto;
    padding: 3rem;
  }
}

.carruselIzq {
  grid-row: 2 / 3;
}

.p {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.4;
  text-align: center;
}

.parrafo {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  margin-top: 1rem;
}

.profesion {
  font-weight: 100;
}

.carruselDer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  grid-row: 1 / 2;
}

.bg {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.quotes {
  translate: 50% 50%;
}

.persona {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  width: 78%;
  height: auto;
  box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 0.3);
}

.btn {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  align-self: self-end;
  border-radius: 25px;
  width: 100px;
  height: 50px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: whitesmoke;
  box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 0.3);
}

.chevron {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #888;
}

@media (min-width: 47rem) {
  .carruselIzq {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
  }
  .carruselDer {
    grid-column: 2 / 4;
    grid-row: 1 / -1;
  }
  .p {
    text-align: left;
  }
  .parrafo {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 3rem;
    gap: 0.5rem;
  }

  .btn {
    justify-self: left;
    margin: 1rem 8rem;
  }
}
