.container {
  background-color: var(--color-white);
  padding: 3rem 1.5rem;
  border-radius: 15px 15px 6rem 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 5rem auto;
}

/* CONTAINER FORMULÁRIO  */

.form {
  position: relative;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid var(--color-light-grey);
  padding-bottom: 4rem;
}

.form label {
  color: var(--color-smokey-grey);
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.form input {
  width: 100%;
  padding: 0.9rem 0 0.9rem 0.7rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 8px;
  border: 0.13rem solid grey;
  color: black;
}

.form input:focus {
  outline: none;
  border: 0.16rem solid red;
}

.form .messageError {
  color: orangered;
  margin-top: 0.5rem;
  font-size: 0.7rem;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  letter-spacing: normal;
}

.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 82%;
  left: 40%;
  background-color: var(--color-primary);
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  transition: ease 0.5s;
}

.form button:hover {
  background-color: var(--color-black-off);
}

.form button img {
  width: 30px;
}

/* CONTAINER DOS DADOS  */

.containerData {
  margin-top: 4rem;
}

.containerData p,
.containerData span {
  font-size: 3.3rem;
  font-weight: 800;
  font-style: italic;
}

.containerData p {
  color: var(--color-black-off);
}

.containerData span {
  color: var(--color-primary);
}

@media screen and (min-width: 1000px) {
  .container {
    width: 800px;
    padding: 3rem 2.5rem;
  }

  .form {
    gap: 2rem;
  }

  .form label {
    width: 25%;
  }

  .form input {
    padding: 1rem 0 1rem 1rem;
    font-size: 1.8rem;
  }

  .form button {
    padding: 20px;
    top: 7.5rem;
    left: 90%;
  }

  .form button:hover img {
    animation: animationArrow 980ms ease-in-out infinite;
  }

  .form button img {
    width: 35px;
  }

  .containerData {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .containerData p {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-height: 40px;
  }

  .containerData p,
  .containerData span {
    font-size: 5rem;
  }
}
