/* collections.module.css */

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
  padding: 20px;
}

@media (min-width: 40rem) {
  .container {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}

.producto img {
  max-width: 100%;
  height: auto;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenido h3 {
  font-size: 24px;
  margin: 0;
}

.contenido h2 {
  font-size: 20px;
  margin: 0;
}

.contenido h4 {
  font-size: 16px;
  margin: 0;
  color: #333;
}

.contenido p {
  font-size: 18px;
  margin: 5px 0;
}

/* Estilos para los íconos */
.contenido img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
