.container {
  display: Flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagenGrande {
  display: block;
  width: 100%;
}

.imagenPequena {
  display: none;
}

.contenido {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contenido h6 {
  text-align: left;
  color: orange;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.contenido h1 {
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.contenido h4 {
  font-weight: 200;
  letter-spacing: 1px;
  color: black;
  font-size: 0.9rem;
}

.contenido p {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: 800;
}

.contenido span {
  color: orange;
  font-weight: 700;
  width: 40px;
  height: 20px;
  background-color: rgb(236, 214, 158);
  border-radius: 5px;
  text-align: center;
}

.cantidad {
  display: flex;
  gap: 2rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(rgb(157, 157, 195));
  border: none;
  padding: 0.7rem 1.7rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.btnCarrito {
  background-color: orange;
  border: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.icons {
  color: orange;
  stroke-width: 5px;
}

@media (min-width: 40rem) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .producto {
  }

  .imagenPequena {
    justify-self: center;
  }
  .imagenGrande {
    border-radius: 50px;
  }
}
