.icon {
  margin-left: auto;
  order: 3;
}

.nav {
  order: 1;
}
.logo {
  order: 2;
}

.ul {
  display: flex;
  justify-content: center;
  gap: 0.6vw;
}

.ul li {
  position: relative;
  list-style: none;
}

.a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  color: #333;
}

.fondo {
  position: absolute;
  inset: 0;
  background-color: #999;
  border-radius: 10px;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #999;
  padding: 1rem;
  gap: 3vw;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 50rem) {
  .icon {
    order: 3;
  }

  .logo {
    order: 1;
  }

  .nav {
    order: 2;
  }
}
